<label>This is an example on angular App with Star Wars Api </label><br/>
<a href="http://swapi.co/api/" target="_blank">Star Wars API</a>

<div class="">
    <table>
        <tr>
            <th>Character</th>
            <th>Gender</th>
            <th>Birth Year</th>
        </tr>
        <tr *ngFor="let c  of characters">
            <td>
                <a [routerLink]="['/character', c.id]">
                    {{c.name}} 
                </a>
            </td>
            <td>{{c.gender}}</td>
            <td>{{c.birth_year}}</td>
        </tr>
      </table>
</div>