<div class="character-view">
    <div class="character-box">
        <label class="tableTitle">General Info</label>
        <table>
            <tbody>
                <tr>
                    <td class="tableBoldRow">Name</td>
                    <td>{{character?.name}}</td>
                </tr>
                <tr>
                    <td class="tableBoldRow">Birth Year</td>
                    <td>{{character?.birth_year}}</td>
                </tr>
                <tr>
                    <td class="tableBoldRow">Height</td>
                    <td>{{character?.height}}</td>
                </tr>
                <tr>
                    <td class="tableBoldRow">Gender</td>
                    <td>{{character?.gender}}</td>
                </tr>
                <tr>
                    <td class="tableBoldRow">Mass</td>
                    <td>{{character?.mass}}</td>
                </tr>
                <tr>
                    <td class="tableBoldRow">Hair Color</td>
                    <td>{{character?.hair_color}}</td>
                </tr>
                <tr>
                    <td class="tableBoldRow">Skin Color</td>
                    <td>{{character?.skin_color}}</td>
                </tr>
                <tr>
                    <td class="tableBoldRow">Eye Color</td>
                    <td>{{character?.eye_color}}</td>
                </tr>
                <tr>
                    <td class="tableBoldRow">URL</td>
                    <td><a href="{{character?.url}}" target="_blank">API Page</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="characterSpaceships">
        <label class="tableTitle">Spaceships Info</label>
        <table>
            <tbody>
                <tr>
                    <td class="tableBoldRow">Name</td>
                    <td>{{character?.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>